doctype html
html(lang='en')
  include common/header.pug 
  +head('Login Details')
  body(style='padding-top: 72px;')
    include common/navbar.pug 
    +navbar(user)
    section.py-5
      .container
        // Breadcrumbs
        ol.breadcrumb.ps-0.justify-content-start
          li.breadcrumb-item
            a(href='/') Home
          li.breadcrumb-item
            a(href='/myAccount') Account
          li.breadcrumb-item.active Login & security   
        h1.hero-heading.mb-0 Login & security
        p.text-muted.mb-5 Manage your Login & security and settings here.
        .row
          .col-lg-7.mb-5.mb-lg-0
            .text-block
              h3.mb-4 Login
              .row
                .col-sm-8
                  h6 Password
                //-   p.text-sm.text-muted Last updated 3 years ago
                .col.text-end
                  button.btn.btn-link.ps-0.text-primary.collapsed(type='button' data-bs-toggle='collapse' data-bs-target='#updatePassword' aria-expanded='false' aria-controls='updatePassword') Update
              #updatePassword.collapse
                form(action='/updatePassword' method='post') 
                    .row.mt-4
                        //-   .mb-4.col-12
                        //-     label.form-label(for='') Current Password
                        //-     input#password-current.form-control(type='password' name='password-current')
                        p.small.text-danger #{(success ? 'Password Updated' :'')}
                        .mb-4.col-md-6
                            label.form-label(for='password-new') New Password
                            input#password.form-control(type='password' name='password' required=true  value=(formData != undefined) ? formData.password : '')
                            if(errors && errors.password)
                                p.error(id="error").small.text-danger #{errors.password}
                        .mb-4.col-md-6
                            label.form-label(for='password-confirm') Confirm Password
                            input#confirmPassword.form-control(required=true , name='confirmPassword', type='password', value=(formData != undefined) ? formData.confirmPassword : '')
                    button.btn.btn-outline-primary Update Password
            //- .text-block
              h3.mb-4 Social accounts
              .row
                .col-sm-8
                  h6 Facebook
                  p.text-sm.text-muted Not connected
                .col.text-end
                  a.btn.btn-link.text-primary.ps-0(href='#') Connect
              .row
                .col-sm-8
                  h6 Google
                  p.text-sm Connected
                .col.text-end
                  a.btn.btn-link.text-primary.ps-0(href='#') Disconnect
            //- .text-block
              h3.mb-4 Device history
              .d-flex
                .icon-rounded.bg-secondary-light.flex-shrink-0
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#imac-screen-1')  
                .pt-2.ms-3
                  strong Windows 10.0 
                  | · Chrome
                  .badge.badge-secondary-light.text-uppercase Current  Session
                  p.text-sm.text-muted Ostrava, Moravskoslezsky kraj · April 6, 2020 at 01:51pm
                  a.btn.btn-link.text-primary.ps-0(href='#') Log out device
          .col-md-8.col-lg-4.ms-lg-auto
            .card.border-0.shadow
              .card-header.bg-primary-light.py-4.border-0
                .d-flex.align-items-center
                  div
                    h4.h6.subtitle.text-sm.text-primary Let's make your account more secure
                  svg.svg-icon.svg-icon.svg-icon-light.w-3rem.h-3rem.ms-3.text-primary.flex-shrink-0
                    use(xlink:href='#shield-security-1')  
              .card-body.p-4
                h6.card-text Your account security: 
                p.card-text.mb-4
                  span.badge.badge-info-light High
                p.text-muted.card-text We’re always working on ways to increase safety in our community. 
                p.text-muted.card-text That’s why we look at every account to make sure it’s as secure as possible.
    include common/footer_new.pug 
    +footer()
