doctype html
html(lang='en')
  include common/adminHeader.pug
  +head("Add Admin")
  #preloader2(style="display:none;z-index:999")
    .loader2(style="display:none")
  body#page-top
    script(src="js/addAdmin.js")
    // Page Wrapper
    #wrapper
      // Sidebar
      include common/adminNavbar.pug
      +navbar(user)
      // Content Wrapper
      #content-wrapper.d-flex.flex-column
        // Main Content
        #content
          // Topbar
          include common/adminHorizontalNavbar.pug
          +navbar(user)
          // Begin Page Content
          .container-fluid
            // Page Heading
            .d-sm-flex.align-items-center.justify-content-between.mb-4
              
            .container
                form(id="form" action="/addAdmin", method ="POST")
                    .row
                        .col-lg-6.offset-lg-3
                            .card.shadow.mb-4
                                .card-body(style="text-align:left")
                                    h2(style="text-align:center") Add Admin
                                    .row(style="margin-top:20px")
                                        .col-sm-12
                                            label(for="name") Name
                                            input.form-control(style="width:100% !important;text-align:left;" placeholder="Enter Name", required=true , name='name', type='name', value=(formData != undefined) ? formData.name : '')
                                    
                                    .row(style="margin-top:30px")
                                        .col-sm-12
                                            if(error)
                                                p.small.text-danger(style="font-size:9pt") #{error} 
                                            if(reset)
                                                p.titleLarge Password has successfully been reset
                                            label(for="email" style="text-align:left") Email
                                            input.form-control(style="width:100% !important;text-align:left;" placeholder='Please enter your email', required=true, name='email', type='email', value=(formData != undefined) ? formData.email : '')
                                    .row(style="margin-top:20px")
                                        .col-sm-12
                                            label(for="password") Password
                                            input.form-control(style="width:100% !important;text-align:left;" placeholder="Enter password", required=true , name='password', type='password', value=(formData != undefined) ? formData.password : '')
                                    .row(style="margin-top:20px;text-align:center")
                                        .col-sm-12
                                            input.primary-btn(type="submit" value="Add Admin")


        include common/adminFooter.pug
        +footer()