doctype html
html(lang='en')
  include common/header.pug
  +head("Admin Dashboard")
  body(style='padding-top: 72px;')
    include common/navbar.pug
    +navbar(user)
    section.py-5
      .container
        // Breadcrumbs
        ol.breadcrumb.ps-0.justify-content-start
          li.breadcrumb-item.active Admin dashboard   
        h1.hero-heading.mb-0 Admin dashboard
        p.text-muted.mb-5 Manage you the site here.
        .row
          .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#password-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='/adminSearchAccount') Accounts
                p.text-muted.card-text.text-sm Manage accounts in the system
          
          .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#diary-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='/adminSearchProperty') Properties
                p.text-muted.card-text.text-sm Manage properties in the system
          .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#pay-by-card-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='/adminSearchBooking') Bookings
                p.text-muted.card-text.text-sm Manage bookings in the system
          //- .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#chat-app-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='#') Notifications
                p.text-muted.card-text.text-sm Choose notification preferences and how you want to be contacted
        //-   .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#diary-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='#') Cancellation Policy
                p.text-muted.card-text.text-sm Policy for cancelling bookings
          //- .col-6.col-md-4.mb-30px
          //-   .card.h-100.border-0.shadow.hover-animate
          //-     .card-body
          //-       .icon-rounded.bg-secondary-light.mb-3
          //-         svg.svg-icon.text-secondary.w-2rem.h-2rem
          //-           use(xlink:href='#mix-1')  
          //-       h5.card-title.mb-3
          //-         a.text-decoration-none.text-dark.stretched-link(href='#') Global preferences
          //-       p.text-muted.card-text.text-sm Set your default language, currency, and timezone
    include common/footer_new.pug 
    +footer()
