doctype html
html.no-js(lang='en')
    include common/header.pug
    +head("Login" )
    body
        include common/navbar.pug
        +navbar(user)
        section.shopping-cart.spad
            .container
                .row
                    .col-lg-11.offset-lg-1
                        h3(style="text-align:center;margin-bottom:20px;font-weight:700") My Account Login
                        .row.packages-view
                            .col-sm-6(style="border-right: 1px solid rgba(0,0,0,.125)")
                                form(action="/login", method ="POST")
                                    
                                    .single-package-item(style="padding:10px")
                                        div(style="padding-bottom:10px;border-bottom: 4px solid rgba(0,0,0,.125)")
                                            h6(style="font-weight:700") LOGIN
                                        .row(style="margin-top:30px")
                                            .col-sm-12
                                                if(error)
                                                    p.small.text-danger(style="font-size:9pt") #{error} 
                                                if(reset)
                                                    p.small.text-danger Password has successfully been reset
                                                label(for="email" style="text-align:left;font-weight:700;font-size:14px") Email:*
                                                input.form-control(style="width:100% !important;text-align:left;", required=true, name='email', type='email', value=(formData != undefined) ? formData.email : '')
                                
                                        .row(style="margin-top:20px")
                                            .col-sm-12
                                                label(for="password" style="text-align:left;font-weight:700;font-size:14px") Password:*
                                                input.form-control(style="width:100% !important;text-align:left;"  required=true , name='password', type='password', value=(formData != undefined) ? formData.password : '')
                                        .row(style="margin-top:20px;")
                                            .col-sm-12
                                                a(href="/forgotPassword" style=";color:black;font-size:12px") <u>Forgot your password</u>
                                        .row(style="margin-top:20px;text-align:center")
                                            .col-sm-12
                                                input.about-view.packages-btn(style="width:100%" type="submit" value="Log in securely")

                            .col-sm-6
                                .card-body.single-package-item
                                    div(style="padding:10px")
                                        div(style="padding:10px;border-bottom: 4px solid rgba(0,0,0,.125)")
                                            h6(style="font-weight:700") NEW TO website.co.uk?
                                        .row(style="margin-top:20px;")
                                            .col-sm-12
                                                p(style="font-size:12px") Create an account to check out faster in the future and receive emails about your orders, new products, events and special offers!
                                        .row(style="margin-top:20px;text-align:center")
                                            .col-sm-12
                                                a.about-view.packages-btn( href="/register" style="width:100%" ) CREATE ACCOUNT
                .row(style="margin-top:20px;")
                    .col-lg-10.offset-lg-1
                        .row
                            .col-sm-12(style="text-align:center")
                                p(style="font-size:12px") By continuing you agree to our <a href="#" style=";color:black;font-size:12px"><u>Terms & Conditions</u></a>. See our <a href="#" style=";color:black;font-size:12px"><u>Privacy Notice</u></a>
        include common/footer.pug
        +footer()
        //- script(src='js/main.js')
        //- script(src='js/basket2.js')