doctype html
html(lang='en')
  include common/header.pug
  +head("My Account")
  body(style='padding-top: 72px;')
    include common/navbar.pug
    +navbar(user)
    section.py-5
      .container
        // Breadcrumbs
        ol.breadcrumb.ps-0.justify-content-start
          li.breadcrumb-item
            a(href='/myAccount') Home
          li.breadcrumb-item.active Your account   
        h1.hero-heading.mb-0 Your account
        p.text-muted.mb-5 Manage your account and settings here.
        .row
          .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#password-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='/accountDetails') Login & security
                p.text-muted.card-text.text-sm Update your password and secure your account
          .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#pay-by-card-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='/bookingHistory') Booking History
                p.text-muted.card-text.text-sm Review payments, payouts, coupons, gift cards, and taxes
          //- .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#chat-app-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='#') Notifications
                p.text-muted.card-text.text-sm Choose notification preferences and how you want to be contacted
          .col-6.col-md-4.mb-30px
            .card.h-100.border-0.shadow.hover-animate
              .card-body
                .icon-rounded.bg-secondary-light.mb-3
                  svg.svg-icon.text-secondary.w-2rem.h-2rem
                    use(xlink:href='#diary-1')  
                h5.card-title.mb-3
                  a.text-decoration-none.text-dark.stretched-link(href='/terms') Term and Conditions
                p.text-muted.card-text.text-sm Policy for bookings
          //- .col-6.col-md-4.mb-30px
          //-   .card.h-100.border-0.shadow.hover-animate
          //-     .card-body
          //-       .icon-rounded.bg-secondary-light.mb-3
          //-         svg.svg-icon.text-secondary.w-2rem.h-2rem
          //-           use(xlink:href='#mix-1')  
          //-       h5.card-title.mb-3
          //-         a.text-decoration-none.text-dark.stretched-link(href='#') Global preferences
          //-       p.text-muted.card-text.text-sm Set your default language, currency, and timezone
    include common/footer_new.pug 
    +footer()
