doctype html
html(lang='en')
    include common/adminHeader.pug
    +head("Property Availability")
    link(href='lib/main.css' rel='stylesheet')
    script(src='lib/main.js')
    script(src='js/availability2.js')
    #preloader2(style="display:none;z-index:999")
        .loader2(style="display:none")
    body#page-top

        // Page Wrapper
        #wrapper
            // Sidebar
            include common/adminNavbar.pug
            +navbar(user)
            script(src='js/availability2.js')
            // Content Wrapper
            #content-wrapper.d-flex.flex-column
                // Main Content
                #content
                    // Topbar
                    include common/adminHorizontalNavbar.pug
                    +navbar(user)
                    // Begin Page Content
                    .container-fluid
                        // Page Heading
                        .d-sm-flex.align-items-center.justify-content-between.mb-4
                            h1.h3.mb-0.text-gray-800 Property Availability
                            input(id="bookings" value=bookings style="display:none")
                            a.primary-btn(href="/adminProperty?id=" + propertyId) Back to Property
                        #wrap
                            #calendar
                            div(style='clear:both')
                
        include common/adminFooter.pug
        +footer()