doctype html
html(lang='en')
  include common/header.pug 
  +head("Places")
  body(style='padding-top: 72px;')
    include common/navbar.pug 
    +navbar(user)
    .container-fluid.pt-5.pb-3.border-bottom.px-lg-5
        h1 Terms & conditions
    //-   input#cityId(style="display:none" value=cityId)
    //-   .row
        .col-xl-8
            if(town != null)
                h1 Stays in #{town.name}
            else if(city != null)
                h1 Stays in #{city.name}
            //- p.lead.text-muted
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
    .container-fluid.py-5.px-lg-5
      .row
        .col-sm-12
          p These Terms and Conditions of Hire are a contract between Hyde & Rowe Limited, Company Number: 10786875; registered office: 364 Lower Addiscombe Road, Croydon, CR0 5AF; also the address for correspondence, (“us”, “we”, “our”), and you the person making the booking and all adult members of your party who will be staying in any of our apartments(“you”, “your”, “client”, “guest”).By making a booking or staying in one of our apartments you agree to abide by these terms and conditions.  Defined terms used in this contract are: 
          h5 1.            Scope
          p 1.1          Your stay with us is not intended to confer exclusive possession on either the client or guest nor to create the relationship of landlord and tenant between Hyde and Rowe Limited and either the client or any guest. You agree that the purpose of the letting is for a holiday, and therefore that you will not be entitled to any rights under any statutory provision including, without prejudice to the foregoing generality, the Rent Act 1977, any assured tenancy or assured short hold tenancy under the Housing Act 1988,  or any tenancy arising under or in terms of, or regulated by the Housing (Scotland) Act 1988, Housing (Scotland) Act 2006, Housing (Scotland) Act 2014, Private Housing (Tenancies) (Scotland) Act 2016, including in each case any amendment or re-enactment of any such statute for the time being in force.
          p 1.2          Our rates are subject to change without notice, unless otherwise agreed by us in writing.
          p 1.3          VAT is charged as appropriate.	

          h5 2.            Agreement for Occupation
          p 2.1          We permit you to occupy the property as a holiday letting for the agreed hire period only and subject to these Terms and Conditions of Hire, such occupation being by you personally and only such guests named in the booking, and to use the Inclusive Services. The actions and omissions of any visitor to the apartment are your responsibility.  See also your obligations under condition 10 below.
          p 2.2          You must be 18 years or over when you book your accommodation.
          p 2.3          We reserve the right to refuse to accept any booking for whatever reason.  We accept you’re booking when we issue our Booking Confirmation email.
          p 2.4          You may arrive at your accommodation after 3pm (except if it is stated different) on the start day of your booking and, unless otherwise agreed, you must leave by 10am on the last day. If you fail to arrive by midnight on the day of the start date and do not advise us of a late arrival we may treat the booking as being cancelled by you.
          p 2.5          If you want to increase your length of stay we will do everything possible, subject to availability of accommodation, to find something suitable for you. It must be borne in mind that this may not always be possible.
          p 2.6           If the number of people permitted to occupy an apartment is exceeded (which would be in breach of Health and Safety Regulations) we reserve the right to move excess occupants and charge for additional apartments or require the excess occupants to vacate the property.

          h5 3.            Paying for your Accommodation
          p 3.1          The following terms apply to payment: -
          p 3.1.1      To secure your booking a deposit of 30% must be paid at the time of booking and you hereby authorise us to take payment from your credit or debit card that you booked with, and the remaining 70% must be received by us in cleared funds at least 14 days before your arrival date. We draw your attention to clause 5.2 below concerning pre-authorisations which apply as from your booking.  All prices advised to you are inclusive of booking fees and charge unless stated otherwise. 
          p 3.1.2      Should payment of the full amount not reach us at least 14 days before your arrival date we reserve the right to cancel any bookings made and any deposit paid will be forfeited.
          p 3.1.3      If you fail to pay any sum that is due under this agreement when due, then you will pay us, on demand, interest on the unpaid sum in accordance with (if you are a business) the Late Payment of Commercial Debts (Interest) Act 1998 (as amended) or (if you are a consumer) 4% above the Royal Bank of Scotland’s base rate from time to time .Such interest shall accrue on a daily basis from the due date until we receive payment in full cleared funds, whether before or after any judgement.
          p 3.1.4      We expect the apartment to be left in a reasonable state on departure, including rubbish being placed in rubbish bins, and soiled dishes being placed in the dishwasher. If, at our discretion, additional cleaning is required on departure, the cost of this cleaning will be charged as an Additional Charge.
          p 3.1.5      UK legislation provides that smoking is NOT permitted in serviced apartments. Smokers must vacate the building should they wish to smoke.
          p 3.1.6      Where there is evidence of guests smoking within the apartment, we reserve the right to charge £100 for specialist cleaning, as an Additional Charge.
          p 3.1.7 	Anyone found using or under the influence of illegal drugs or substances classified under the Misuse of Drugs act (1971) will be reported to the police and asked to leave the premises. Any evidence or suspicion of drug use on our premises will also be reported immediately to the police.
          p 3.1.8	No daily housekeeping service is provided – While linens and bath towels are included in the unit, daily maid service is not included in the rental rate. However, it is available for an Additional Charge. We suggest you bring beach towels. We do not permit towels or linens to be taken from the property.
          p 3.1.9	Falsified Bookings – Any booking obtained under false pretence will be subject to forfeiture of advance payment, deposit and/or rental money, and the party will not be permitted to check in.
          p 3.1.10	Pets are permitted in rental units only with prior written approval. A £10 per pet per night additional charge applies. The Pet Addendum (see below) has to be signed and returned to us prior to arrival to allow pets into the property. All pets must be leashed at all times. Pet owners are responsible for cleaning up any/all pet refuse. Pets are not allowed on furniture at any time. Any evidence of pets on furniture may incur extra cleaning fees. All pets must be up-to-date on rabies vaccinations and all other vaccinations. Heartworm prevention is highly recommended. All pets are to be treated with advantage or similar topical flea and tick repellent three (3) days prior to arrival. Fleas and ticks are very rampant and can cause harmful/fatal illness to humans and pets. All items above are the sole responsibility of the pet owner. We assume no responsibility for illness or injury that humans or pets may incur while on the premises, unless it results from an act or omission on our part.

          h5 4.	Loss and Damage; Security Deposit
          p 4.1	Please ensure that you inspect the Apartment on check-in.  Unless we receive notification otherwise within two working days of check-in we will be entitled to assume that you have fully accepted that the condition of the Apartment is in good repair, condition and in a clean and tidy state and you will waive any right to claim otherwise.
          p 4.2	Risk of damage to the Apartment and its contents will pass to you on check-in and remain with you until the Apartment is returned to us.  You shall be liable for all loss or damage (except fair wear and tear) caused during the rental period, and for any reasonable loss of rental resulting from such loss or damage.
          p 4.3	A security deposit to cover your obligations under this Agreement may be taken at or prior to check-in.  This may be in the form of a payment or an authorisation to deduct payment from your debit or credit card used to make the Booking.  Any security deposit paid will be returned to you in full (or any payment authorisation cancelled) upon the Apartment being returned to us in accordance with the terms of this Agreement.  Where you are liable for loss or damage under clause 4.2, we may withhold some or all of your deposit to cover the same and our administration fees associated with repairing or dealing with the loss or damage.  These will be Additional Charges.

          h5 5.	Additional Charges
          p 5.1	Additional Charges which may be payable include those items specified in the Booking and any specified in these terms and conditions.
          p 5.2	Where Additional Charges are payable, you hereby authorise us to take them from the credit or debit card used to make the Booking.  If no credit or debit card was used in the Booking, you must pay Additional Charges by another means acceptable to us.  All Additional Charges are due on the check-out date, unless the context otherwise requires.
          p 5.3	If you fail to pay any Additional Charge within 14 days of the date of our invoice requiring payment of the same, you will incur an administration fee of £50 to cover the costs of sending you our debt collection letter, which will follow.

          h5 6.            Changes to your Booking by us
          p 6.1          In the unlikely event we have to cancel or make a change to your accommodation we will use all reasonable efforts to contact you as soon as possible to explain what has happened and inform you of the cancellation or change. If possible, we will offer alternatives, but should these alternatives be unacceptable to you the booking will be treated as cancelled and we will refund any money you have paid to us within 14 days of any cancellation.
          p 6.2          We shall not be liable for changes, cancellations or any other effect on your booking due to events beyond our reasonable control (force majeure), including (by way of example only and without limiting the generality of the foregoing) terrorist activity, industrial disputes, natural or manmade disasters, fire, and adverse weather conditions.
          
          h5 7.	Cancellation / Alteration of you’re booking by you
          p 7.1	We will use our reasonable endeavours to accommodate your requests for alterations of your Booking, subject to availability of accommodation.
          p 7.2          If you wish to cancel the whole or any part of your booking and you notify us in writing (see our contact details below) 14 days in advance of your date of arrival, no cancellation fee will be charged and your deposit will be refunded (unless stated differently at the time of booking).  It is your responsibility to ensure that we receive your notice of cancellation in time.
          p 7.3          If cancelled within 14 days of your arrival date, or in the case of a no-show, the total price of the reservation will be charged.
          p 7.4          No refunds will be made for non-arrivals.
          
          h5 8.            Our liability for Death, Personal Injury, Loss of Property, Lack of Services, etc.
          p 8.1          We shall have no liability to you for the death or personal injury to you or any members of your party unless this results from an act or omission on our part.
          p 8.2          Any guest using their own electrical appliances (hairdryers, curlers, tongs, shavers, personal computers, personal stereos etc.) must use the appropriate adaptor. Non-UK plugs used without the appropriate adaptor/transformer are a serious fire risk. Please ensure that all heated appliances are switched off and stored safely before leaving the apartment. Guests found to be in breach of this rule may be asked to leave with immediate effect.
          p 8.3          You must take all necessary steps to safeguard your personal property and we accept no liability to you in respect of damage to, or loss of, such property unless caused by negligence on our part.
          p 8.4          Cars and their contents are parked at their owners’ risk. Please ensure that cars are locked and possessions are left out of sight.
          p 8.5          Property left in the apartment will be kept for 1 week after departure or forwarded at the guest’s expense.
          p 8.6          Save where there is a total failure to provide useful accommodation as reasonably expected under this agreement, we cannot be held responsible for any failure or interruption to services to the apartment, for example, gas, water and electricity, or for any damage, disturbance or noise caused as a result of maintenance work being carried out in any part of the building.
          p 8.7	We shall have no liability for any loss which was not foreseeable at the time we entered this Agreement or losses not caused by our breach of this Agreement, and, if you are entering this Agreement in the course of a business, we shall have no liability for any loss of profit, loss of or damage to goodwill, increased costs, loss of anticipated savings, loss of business, or any special, indirect or consequential loss (whether arising through breach of contract, tort including (without limitation) negligence, or breach of statutory duty.  In any case our total liability to you is limited to the total cost of your reservation.
          p 8.8	All descriptions and photographs of the Apartment are for illustration only and we do not warrant that they are accurate or complete, although we do use all reasonable endeavours to ensure that they are.
          p 8.9	We do not exclude liability for fraud, and your legal rights are not affected by any term in this Agreement.  

          h5 10.            Keys
          p 10.1          Unless otherwise agreed, the owners will issue to the client or guest one set of keys to the property. If at any time the client or guest loses the keys, they must notify us as soon as possible and we will instruct a locksmith to change the lock/key(s) and charge the client or guest.
          p 10.2          If the guest locks him or herself out of the property and requires the owners’ assistance to re-enter the property, we reserve the right to charge an administration fee, as an Additional Charge.
          p 10.3          We will retain keys to the property and will access the property to provide the services set out in this agreement and any necessary maintenance and also to inspect the property and carry out repairs to the structure, roof, exterior or any services, appliances or equipment therein. We reserve the right to enter the property at any reasonable time during your stay for essential maintenance or if we suspect damage has been caused or in case of any emergency. We will make reasonable efforts to contact you before entering the property.
          p 10.4	On check-out, keys must be left in the key-box (or the same place as the guest collected them from) and the accommodation must be left locked.  Loss of keys may incur an Additional Charge.
          h5 11.            Wireless Broadband Internet and Hardwire
          p Wireless Broadband Internet is usually available at our apartments, however, we will not be liable for loss of this service due to connection, environmental or human error and no support service is available. For this reason, wireless broadband internet is not a contractual provision. We do not assume any responsibility for any damage to your computer or the data contained on it, nor the security of any data transferred over the internet. Guests are responsible for the protection of their computers from loss of data, unauthorised access or viruses.  All usage of the broadband must be within normal usage amounts (generally, 2GB download per day) unless otherwise agreed.
          h5 12.            Maintenance Call-Outs
          p Should a guest or client report that a service or an appliance is faulty and subsequent inspection confirms that the appliance was not faulty, but was not being operated properly by the guest, and where usage instructions have been provided, we reserve the right to charge the guest for the maintenance call out, as an Additional Charge.
          h5 13.          Client’s Obligations
          p 13.1        The client will guarantee the following: -
          p 13.1.1    Guests will not keep any animals, insects, birds or reptiles in the property, without our permission (given in accordance with Condition 3.1.10).
          p 13.1.2    When guests with small children occupy the property, the guest undertakes to provide all suitable childproofing safety equipment.
          p 13.1.3    Guests will not do or permit any act reasonably likely to make any insurance policy on the property void or voidable or increase the premium.
          p 13.1.4    Guests will not do anything that may cause a nuisance or annoyance to the owners or to any other occupier or guest of adjoining properties or do anything at the property that is illegal or immoral. Noise disturbance after 11pm and before 7am can be reported to the local Council.
          p 13.1.5    At the end of this agreement the property is cleared of the guest’s effects and left in good repair and clean condition.  The client will pay for the repair or replacement of such items of the fixtures, furniture, furnishings and other effects as shall be broken, lost, damaged, or destroyed save for reasonable wear and tear.
          p 13.1.6    Guests will use the Property for private residential purposes only and not for any business use.
          p 13.1.7    Guests will not make any alterations to the property, or attempt to make any repairs.
          p 13.1.8    Guests will allow us or our authorised representative’s permission at all reasonable times to enter the Apartment to inspect its conditions.
          p 13.1.9   The client will not assign, underlet, sub-license, charge or part with possession of whole or any part of the property, take in lodgers or share occupation of the property with any person in any way.
          p 13.1.10   Guests will not sell, loan, charge or otherwise dispose of or part with possession of any of the contents located at the property including without limitation the owners’ furniture and effects.
          p 13.1.11 Guests will not hang on the outside of the property any flower pot or similar object or any clothes or other articles.
          p 13.1.12  Guests will not block or put noxious or damaging substances into the sinks, baths and lavatory cisterns or waste or soil pipes in the property or allow them to overflow, and will immediately report any such blockage etc. to us (see 13.1.16)
          p 13.1.13  Guests will not leave the entrance door or windows to the property open but ensure that all door and window locks are properly engaged at all times. All windows must be closed when not in the apartment or during bad weather.
          p 13.1.14 Guests will take all reasonable precautions to prevent condensation by keeping the property adequately ventilated and heated. Extractor fans located in the bathrooms and en-suites must be switched on at all times to prevent damage to the apartment.
          p 13.1.15 Guests will not change any lock to the property or have any duplicate keys made.
          p 13.1.16  Guests will notify us as soon as is practicably possible of (a) any plumbing, electrical or general problem or (b) any damage to the property or its contents, and shall desist from attempting to remedy such problem on their own.
          p 13.1.17 	Guests will notify us of any damage to the property or its contents as soon as is practicably possible.
          p 13.1.17 Guests will maintain properly insured, to their full replacement value, all of their personal property which is kept either at the property or on the guest’s person.
          p 13.1.18 Guests will use all equipment provided at the Property strictly in accordance with its operating instructions and not for any purpose other than its intended use.
          p 13.1.19 Guests will not leave or store any valuable personal possessions anywhere in the property where they can be easily viewed by third parties.
          p 13.1.20 Guests will not play ball games inside or within the grounds of the apartment.
          p 13.1.21 The number of people occupying the property does not at any time exceed the maximum number of permitted occupants as set out in your booking of the relevant property. 
          p 13.1.22  Guests will use any cleaning products, liquids, tablets etc. strictly in accordance with their usage instructions and ensure that such products are kept out of reach of children. We accept no liability for misuse of products supplied.
          p 13.1.23 Guests will not install any portable cooking appliances, camping stoves or similar items in the apartment.
          p 13.1.24	Guests will not behave in an abusive or threatening manner toward our staff.
          p 13.2	You indemnify us and will keep us indemnified on demand for all claims, liabilities, losses, costs and expenses (including legal fees) incurred or suffered by us (except any incurred as a result of our default) in connection with this Agreement or in connection with any use or misuse of the Apartment, except for personal injury or death caused by our act or omission.

          h5 14.          Termination of this Agreement
          p 14.1        This agreement may be ended by us with immediate effect if: -
          p 14.1.1    The accommodation fee is not paid on the payment day, or if you are in breach of any of the terms or conditions set out in this document; or
          p 14.1.2    The client becomes bankrupt, has an administration order made against him or her or has a judgment enforced or entered against him or her.
          p 14.2        We may also terminate this agreement at any time and for any reason on giving the client reasonable written notice.
          p 14.3        The client will, at the end of the accommodation period, return to us all keys to the property and give us vacant possession of the property.
          h5 15.          Health and Safety
          p 15.1        We want your stay to be as comfortable as possible. Failure to comply with this statement may be considered as a breach of contract and the guest being asked to leave.
          p 15.2        Guests should keep the apartment free of hazardous objects at all times and not to leave it in a condition that would make it unsafe for our housekeepers, staff, guests or themselves to use.
          p 16.          Data Protection
          p We are required to gather certain personal data about clients and guests for the purposes of satisfying operational and legal obligations. This personal data will be subject to the appropriate legal safeguards as specified in the Data Protection Act 1998. We fully endorse and adhere to the eight principles of the Data Protection Act. These principles specify the legal conditions that must be satisfied in relation to obtaining, handling, processing, transportation and storage of personal data. The principles require (amongst other things) that the personal data shall be obtained for a specified and lawful purpose and shall not be processed in any manner incompatible with that purpose.
          p The purposes for which we hold your personal data is to carry out this agreement, and we do not pass information on to third parties save for this purpose.  We may use cookies on our website for the purpose of monitoring website usage, and we will ask for your consent, but do ask that you inform us if you do not consent to the use of these cookies.
          h5 17.          Complaints
          p 17.1        All complaints should be notified as soon as possible to us (contact details below) and we will do our best to resolve them in a timely manner.
          p 17.2        If you are still not satisfied then within 14 days of the end of your stay, you should put your comments in writing to our address below, and we will use all reasonable efforts to resolve the matter as quickly as possible.
          p 17.3        You can also complain to the booking agent you used for your apartment reservation.
          h5 18.          Law
          p If the Property is in England or Wales, the agreement between us and all matters arising there from are subject to the law of England and Wales and in the event of a dispute; you will be subject to the exclusive jurisdiction of the courts of England and Wales.  If the Property is in Scotland, the agreement between us and all matters arising there from are subject to the law of Scotland and, in the event of a dispute, you will be subject to the exclusive jurisdiction of the courts of Scotland.
          h5 19.          Severance
          p If any provision (or part-provision) in these terms and conditions is or becomes invalid, illegal or unenforceable, it shall be deemed modified to the minimum extent necessary to make it valid, legal and enforceable.  If not possible, it shall be struck out.  The rest of the agreement shall remain enforceable. 
          h5 20.          Interpretation
          p In this Agreement the following words and phrases shall have the following meanings unless the context otherwise requires:
          p “Additional Charge” means a charge or fee that is additional to the rental and includes those specified as an ‘additional charge’ in these terms and conditions or in the Booking, and also any other reasonable charge or fee incurred by you under these terms and conditions.
          p “Managing agent” “us” or “we” refer to Hyde and Rowe Limited offering serviced apartments on behalf of the property owners.
          p “Client” is the person who arranges the accommodation – they could also be the guest.
          p “Guest” is any adult authorised by us to reside at the property – they could also be the client.
          p “Apartment or property” is an accommodation managed by Diamond Serviced Apartments Limited on behalf of the owner(s) of it.
          p “Booking” means an offer from you to us to hire one of our apartments on the terms of this agreement following your provision of sufficient information to enable us to complete our telephone or Website provisional booking process.
          p “Furniture and appliances” means such furniture and appliances usually found within the apartment and any other items which we agree to provide; 
          p “Inclusive Services” means housekeeping service once per week, linen and towel change once per week, use of electricity, gas, water, sewerage, council tax, TV licence.
          p The term “Serviced Apartment” means the following: – A fully furnished and equipped apartment, accessed by corridors, stairwells and any common part of the building, inclusive of gas, electricity, water, drainage and sewerage, Council Tax, TV licence, a once per week cleaning and linen service.
          h5 21.             Parties
          h5 Under NO circumstances are any form of gathering/parties allowed in ANY of the properties and we are obliged to inform the local police.


    include common/footer_new.pug 
    +footer()