@media (max-width: 1250px) {

	.detail-slider {
        height: 250px
    }
    /* .booking-detail-slider {
        
    } */
}

@media (max-width: 1110px) {

	.detail-slider {
        height: 200px
    }
}

@media (max-width: 1000px) {

	.detail-slider {
        height: 150px
    }
}

@media (max-width: 850px) {

	.detail-slider {
        height: 100px
    }
}

@media (max-width: 430px) {

	.detail-slider {
        height: 75px
    }
}