mixin navbar(user)
    ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
        // Sidebar - Brand
        a.sidebar-brand.d-flex.align-items-center.justify-content-center(href='/adminDashboard')
          .sidebar-brand-icon.rotate-n-15
            //- i.fas.fa-laugh-wink
          .sidebar-brand-text.mx-3
            //- img(src='https://reggaemasters.s3.eu-west-2.amazonaws.com/Pictures/banners/reggae_banner5.png' style="width:100%" alt='')
        // Divider
        hr.sidebar-divider.my-0
        // Nav Item - Dashboard
        li.nav-item.active
          a.nav-link(href='/adminDashboard')
            i.fas.fa-fw.fa-tachometer-alt
            span Dashboard
        // Divider
        hr.sidebar-divider
        // Heading
        .sidebar-heading
          | Options
        // Nav Item - Pages Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseTwo' aria-expanded='true' aria-controls='collapseTwo')
            i.flaticon-profile
            span Accounts
          #collapseTwo.collapse(aria-labelledby='headingTwo' data-parent='#accordionSidebar')
            .bg-white.py-2.collapse-inner.rounded
              a.collapse-item(href='/adminSearchAccount') Search Accounts
              a.collapse-item(href='/addAdmin') Add Admin
        // Nav Item - Utilities Collapse Menu
        li.nav-item
          a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapseUtilities' aria-expanded='true' aria-controls='collapseUtilities')
            i.fas.fa-fw.fa-wrench
            span Properties
          #collapseUtilities.collapse(aria-labelledby='headingUtilities' data-parent='#accordionSidebar')
            .bg-white.py-2.collapse-inner.rounded
              a.collapse-item(href='/adminSearchProperty') Search Properties
              a.collapse-item(href='/addProperty') Add Property

        li.nav-item
          a.nav-link(href='/adminSearchBooking')
            i.fas.fa-fw.fa-chart-area
            span Bookings
        
        // Divider
        
        hr.sidebar-divider
        li.nav-item
          a.nav-link(href='/wiki')
            i.fas.fa-fw.fa-info-circle
            span Wiki
        //- // Heading
        //- .sidebar-heading
        //-   | Addons
        //- // Nav Item - Pages Collapse Menu
        //- li.nav-item
        //-   a.nav-link.collapsed(href='#' data-toggle='collapse' data-target='#collapsePages' aria-expanded='true' aria-controls='collapsePages')
        //-     i.fas.fa-fw.fa-folder
        //-     span Pages
        //-   #collapsePages.collapse(aria-labelledby='headingPages' data-parent='#accordionSidebar')
        //-     .bg-white.py-2.collapse-inner.rounded
        //-       h6.collapse-header Login Screens:
        //-       a.collapse-item(href='login.html') Login
        //-       a.collapse-item(href='register.html') Register
        //-       a.collapse-item(href='forgot-password.html') Forgot Password
        //-       .collapse-divider
        //-       h6.collapse-header Other Pages:
        //-       a.collapse-item(href='404.html') 404 Page
        //-       a.collapse-item(href='blank.html') Blank Page
        //- // Nav Item - Charts
        //- li.nav-item
        //-   a.nav-link(href='charts.html')
        //-     i.fas.fa-fw.fa-chart-area
        //-     span Charts
        //- // Nav Item - Tables
        //- li.nav-item
        //-   a.nav-link(href='tables.html')
        //-     i.fas.fa-fw.fa-table
        //-     span Tables
        //- // Divider
        //- hr.sidebar-divider.d-none.d-md-block
        