mixin footer()
  footer.footer-copyright
    .container
      .footer-content
        .row
          .col-sm-3
            .single-footer-item
              .footer-logo
                a(href='index.html')
                  | tour
                  span Nest
                p
                  | best travel agency
            // /.single-footer-item
          // /.col
          .col-sm-3
            .single-footer-item
              h2 link
              .single-footer-txt
                p
                  a(href='#') home
                p
                  a(href='#') destination
                p
                  a(href='#') spacial packages
                p
                  a(href='#') special offers
                p
                  a(href='#') blog
                p
                  a(href='#') contacts
              // /.single-footer-txt
            // /.single-footer-item
          // /.col
          .col-sm-3
            .single-footer-item
              h2 popular destination
              .single-footer-txt
                p
                  a(href='#') china
                p
                  a(href='#') venezuela
                p
                  a(href='#') brazil
                p
                  a(href='#') australia
                p
                  a(href='#') london
              // /.single-footer-txt
            // /.single-footer-item
          // /.col
          .col-sm-3
            .single-footer-item.text-center
              h2.text-left contacts
              .single-footer-txt.text-left
                p +1 (300) 1234 6543
                p.foot-email
                  a(href='#') info@tnest.com
                p North Warnner Park 336/A
                p Newyork, USA
              // /.single-footer-txt
            // /.single-footer-item
          // /.col
        // /.row
      // /.footer-content
      hr
      .foot-icons
        ul.footer-social-links.list-inline.list-unstyled
          li
            a.foot-icon-bg-1(href='#' target='_blank')
              i.fa.fa-facebook
          li
            a.foot-icon-bg-2(href='#' target='_blank')
              i.fa.fa-twitter
          li
            a.foot-icon-bg-3(href='#' target='_blank')
              i.fa.fa-instagram
        p &copy; 2017 
          a(href='https://www.themesine.com') ThemeSINE
          | . All Right Reserved
      // /.foot-icons
      #scroll-Top
        i#scroll-top.fa.fa-angle-double-up.return-to-top(data-toggle='tooltip' data-placement='top' title='' data-original-title='Back to Top' aria-hidden='true')
      // /.scroll-Top
    // /.container
  // /.footer-copyright
  // footer-copyright end
  script(src='assets/js/jquery.js')
  // Include all compiled plugins (below), or include individual files as needed
  // modernizr.min.js
  script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js')
  // bootstrap.min.js
  script(src='assets/js/bootstrap.min.js')
  // bootsnav js
  script(src='assets/js/bootsnav.js')
  // jquery.filterizr.min.js
  script(src='assets/js/jquery.filterizr.min.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
  // jquery-ui.min.js
  script(src='assets/js/jquery-ui.min.js')
  // counter js
  script(src='assets/js/jquery.counterup.min.js')
  script(src='assets/js/waypoints.min.js')
  // owl.carousel.js
  script(src='assets/js/owl.carousel.min.js')
  // jquery.sticky.js
  script(src='assets/js/jquery.sticky.js')
  // datepicker.js
  script(src='assets/js/datepicker.js')
  // Custom JS
  script(src='assets/js/custom.js')